.section{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.stat{
    display: flex;
    flex-direction: column;
}

span{
    padding: 5px 10px;
    border-radius: 5px;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}